body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 400px;
  background: #1f2937;
}

.first {
  height: 18vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 30px;
}

.second {
  height: 18vh;
  background: #e5e7eb;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 30px 100px;
}

.third {
  height: 18vh;
  background: white;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer {
  height: 75px;
  background: #1f2937;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  align-items: center;
  padding: 0 100px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.push-right {
  margin-left: auto;
}

a .logo {
  color: F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #3882f6;
  color: white;
  background-color: #3882f6;
  font-weight: 900;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

.right-header {
  border: #e5e7eb;
  background-color: #e5e7eb;
  flex: 1;
  height: 200px;
  max-width: 400px;
  padding: 25px;
  margin-left: auto;
}

.left-header {
  flex: 1;
  padding: 25px;
  height: 200px;
  max-width: 400px;
  margin-right: auto;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0 100px;
}

.img {
  border: #e5e7eb;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  border: 4px solid #3882f6;
}

.info {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #1f2937;
  font: 18px;
  max-width: fit-content;
}

.first-section {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.first-header {
  justify-content: center;
  display: flex;
  font-size: 24px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.author {
  justify-content: flex-end;
  display: flex;
  font-size: 20px;
  color: #1f2937;
  font-weight: 900;
}

.cta-box {
  background-color: #3882f6;
  display: flex;
  border-radius: 8px;
  /* justify-content: center; */
  align-items: center;
  gap: 200px;
  padding: 0 100px;
  margin: 100px 0;
}

.sign-up-2 {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  background-color: #3882f6;
  font-weight: 900;
}

.left-cta-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0 0;
}
